.external-links {
  margin: 20px 0;
  text-align: center;
}

.external-links p {
  font-weight: bold;
}

.external-links ul {
  list-style: none;
  padding: 0;
}

.external-links li {
  display: inline-block;
  margin: 0 10px;
}

.external-links a {
  color: #1c635f;
  text-decoration: none;
  font-weight: 500;
}

.external-links a:hover {
  text-decoration: underline;
}

body {
  font-family:Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1c635f;
  color: white;
  padding: 1.5em 0;
}

main {
  padding: 2em;
}

.pic {
  width: 400px;
  height: auto;
}

.button-container {
  margin-top: 2em;
}

.button {
  display: inline-block;
  width: 60px;           /* make the button wider */
  height: 20px; 
  margin: 0.5em;
  padding: 0.75em 1.5em;
  background-color: #1c635f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.button2 {
  display: inline-block;
  width: 60px;           /* make the button wider */
  height: 35px; 
  margin: 0.5em;
  padding: 0.75em 1.5em;
  background-color: #1c635f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #631c46;
}

form {
  display: inline-block;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  margin-top: 3em; /* ✅ spacing between header and form */
}

footer {
  margin-top: 3em;
  background-color: #eee;
  padding: 1em 0;
}























